body {
  margin:0px;
  padding:0px;
  background-color:lightgrey;
}

#main {
  margin:auto;
  width:400px;
  transform: translate(0%, 50%);
  box-shadow:4px 4px 8px blue;
}

#title {
  margin:auto;
  width:400px;
  transform: translate(0%, -1100%);
  font-family:serif;
  font-size:18px;
}

#amp {  
  margin:auto;
  width:400px;
  text-align: left;
  transform: rotate(-90deg) translate(12%, -1210%);
  -webkit-transform: rotate(-90deg) translate(12%, -1210%);
  -moz-transform: rotate(-90deg) translate(12%, -1210%);
  -o-transform: rotate(-90deg) translate(12%, -1210%);
  -ms-transform: rotate(-90deg) translate(12%, -1210%); 
}

#web {  
  margin:auto;
  width:400px;
  text-align: left;
  transform: rotate(90deg) translate(8%, -1210%);
  -webkit-transform: rotate(90deg) translate(8%, -1210%);
  -moz-transform: rotate(90deg) translate(8%, -1210%);
  -o-transform: rotate(90deg) translate(8%, -1210%);
  -ms-transform: rotate(90deg) translate(8%, -1210%);
  
}
#pan {
  margin:auto;
  width:400px;
  text-align: left;
  transform: translate(0%, 1050%);
  -webkit-transform: translate(0%, 1050%);
  -moz-transform: translate(0%, 1050%);
  -o-transform: translate(0%, 1050%);
  -ms-transform: translate(0%, 1050%);
}

p {
  margin:0;
}

button {
  background-color:transparent;
  border-width: 0.5px;
  width: 60px;
  border-color:black;
  border-radius:10px;
  border-style:solid
}